html
    head
        title=code
        link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    body
        div(class="container my-4")
            h1=name
            h2=code
            h2="id: "+id
            if description
                p(style="font-style:italic")=`“${description}”`