html
    head
        title="LMS"
        link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    body
        div(class="container mt-4")
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    each p in path.slice(0,-1)
                        li(class="breadcrumb-item")
                            a(href=`/web/sourceCode/${path.slice(0,-1).join('/')}`)=p
                    li(class="breadcrumb-item active",aria-current="page")=path[path.length-1]
            ul(class="list-group my-4")
            each c in children
                li(class="list-group-item")
                    a(href=`/web/sourceCode/${path.join('/')}/${c}`)= c
            
                
